:root {
  --brown: #514412;
  --orange: #ff8800;
  --width-ball: 100px;
  --height-ball: 100px;
  --radius: 50px;
}

body {
  background-color: var(--brown);
}

.ball {
  width: var(--width-ball);
  height: var(--height-ball);
  background-color: var(--orange);
  border-radius: var(--radius);
}
