body {
  font-family: sans-serif;
}
table {
  border: 2px solid grey;
}

.image {
  border-bottom: 2px solid grey;
}
.description {
  padding-left: 15px;
  border-width: 100%;
  border-bottom: 2px solid grey;
}
.presence {
  padding-left: 15px;
  border-width: 100%;
  border-bottom: 2px solid grey;
}
.goal {
  padding-left: 15px;
  border-width: 100%;
  border-bottom: 2px solid grey;
}
.avarage {
  padding-left: 15px;
  border-width: 100%;
  border-bottom: 2px solid grey;
}

a {
  padding-left: 15px;
  font-size: 20px;
}
